<header class="flex">
  <h1>This is your generated widget: My First Widget!</h1>
</header>
<main>
  <h2>Usage</h2>

  <p>
    To use your widget within a dashboard, you first have to compile it using
    the command:
  </p>

  <pre>  nx build {{ title }}</pre>

  <p>
    This will create a production build of your widget, your custom translations
    and your configuration files in the folder:
  </p>
  <p>
    <strong>dist/data/WebUI</strong>
  </p>
  <p>
    the contents of this folder needs to be copied to your WinCCOA project
    under:
  </p>
  <p><strong>data/WebUI</strong>.</p>

  <p>
    Your dashboard should show the new widget in the widget selector after a
    page refresh.
  </p>

  <p>
    For more details about the WDK API see the
    <a
      href="https://www.winccoa.com/documentation/WinCCOA/3.18/en_US/Dashboard/Dashboard_Basics.html"
      target="_blank"
      rel="noopener noreferrer"
      >WinCC OA Documentation</a
    >
  </p>
</main>
